@import 'config';
@import 'mobile';
@import 'menu';

header {
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000; 

  }

body { 
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8em;
    overflow-x: hidden;
   
}

#sidebar {
    position: fixed;
    display: block;
    left: 0;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 10; 
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left; 
}

#sidebar ul li {
    position: relative;
}

// link to pages
#sidebar ul li a {
    display: flex;
    align-items: center;
    color: white; 
    text-decoration: none;
    padding: 15px 20px; 
   

    &:hover .nav-text {
        color: #338BA8;
        opacity: 1;
        @include easeOut;
 
    }
}

#sidebar ul li a.current .nav-text {
    color: #338BA8;
    opacity: 1;
}

.menu-nav .nav-item a.current .nav-text {
    color: #338BA8; 
  }


#sidebar ul li a .nav-text {
    display: inline; 
    opacity: 0.7; 
    visibility: visible;
    white-space: nowrap; 
    font-size: 30px;
}


#start, #about, #experiences, #skills, #hobbies {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 120vh;
    position: relative;
    z-index: 1;
}


.background-dimmed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(#fff,0.5); 
    z-index: -1; 
}



#start {
    background-image: url('../img/lake.JPG');
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    position: relative;
    
}

#about {
    background-image: url('../img/koli.jpeg');

}

#experiences {
    background-image: url('../img/tree.jpeg');
    //min-height: 100%;

}

#skills {
    background-image: url('../img/ferry.jpeg');
}

#hobbies {
    background-image: url('../img/fire.jpeg');

}


// start page 

.start-content {
    transform: translate(22%, -20%);
    display: grid;
    grid-template-areas: 
        'bioimage starttext'
        'bioimage starttext';
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    align-items: center; 
    text-align: center; 
    gap: 5px; 

    .bio-image {
        grid-area: bioimage;
        max-width: 60%;
        height: auto;
        border-radius: 5%;
        border: #338BA8 3px solid;
        
    }

    .start-text {
        grid-area: starttext;
        padding: 0;
        margin: 0;
        margin-bottom: 10rem;
        color: $text-color;

        .heading {
            grid-area: heading;
            margin: 0;
            padding: 0;
            font-size: 3rem;
            font-weight: bold;
             
        }

        .text{
            margin-top: 2rem;
        }

        
    }
}

.cv-download{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2rem; 
    background-color: $secondary-color; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold; 

}

.text-secondary{
    color:#338BA8
}

#experiences {

    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.experiences-content{
    display: grid;
    grid-template-areas: 
    'education work';
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 80%;
    transform: translate(7%, 0);
    color: $text-color;


    .education-column{
        grid-area: education;
    }

    .work-column{
        grid-area: work;
    }
    .text-secondary{
        font-size: 30px;
    }
    .experience {
        background: rgba(#fff, 0.3);
        text-align: left;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: $secondary-color  2px solid;
    }
}

#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .aboutcontent{
        max-width: 60%;
        transform: translate(7%,0);
        background: rgba(#fff, 0.3);
        padding: 1rem;
        border-bottom: $secondary-color  2px solid;

        .heading{
            color: $secondary-color;
            font-size: 3rem;
            font-weight: bold;
        }
        .text{
            margin-top: 1rem;
            color:$text-color;
        }
    }
}

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color;

    .skill-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        max-width: 80%; 
        transform: translate(6%,0);


        .skill-group {
            flex: 1 1 calc(50% - 10px);
            list-style: none;
            width: 50%;
            box-sizing: border-box;
            margin: 5px;
            padding: 1rem;
            background: rgba(#fff, 0.3);
            border-bottom: $secondary-color  2px solid;
        }

    }

    h3{
        color:$secondary-color;
    }
}

#hobbies{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .hobbies-content{
        max-width: 60%;
        transform: translate(7%,0);
        background: rgba(#fff, 0.3);
        padding: 1rem;
        border-bottom: $secondary-color  2px solid;

        .heading{
            color: $text-color;
            font-size: 2.5rem;
            font-weight: bold;
        }
        .hobbies-list{
            margin-top: 1rem;
            color:$secondary-color;
            font-size: 2rem;
            font-weight: bold;
            list-style: none;
            li{
                margin-top: 3rem;
            }
        }
    }
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #ffffff; 
    background-color: #338BA8;
    width: 100%;
    margin-top:0;
    padding: 1px;
    line-height: 1;
}



